<div class="col-md-4">
    <h2 class="text-center">Edit Trip</h2>
    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Code:</label>
                <input 
                type="text" 
                formControlName="code"
                placeholder="Code"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['code'].errors }">
            </label>
            <div *ngIf="submitted && f['code'].errors">
                <div *ngIf="f['code'].errors?.['required']">
                    Trip Code is required
                </div>
            </div>
        </div>
</div>